logs
project/project
project/target
target
tmp
.history
dist
.cache
.classpath
.settings
var
bin/
data/
db/
dist/
logs/
test-result/
lib/
tmp/
modules/
CreditUnionFindr.ipr
CreditUnionFindr.iws
cuf.iml
