@(message: String)

<html>
<head>
	<title>Credit Union Findr</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBJVyx_0Z4BZytjkdkQxOpwLcP9PzG4flk&libraries=geometry&sensor=true" type="text/javascript"></script>	
	<script src="@routes.Assets.at("javascripts/polygons.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/maps.js")" type="text/javascript"></script>
</head>
<body onload="initialize()">
	<div id="addressSection" style="margin:10px;">
		<form>
			<input type="text" id="address" value="145 W 140 St, New York, NY" name="address" size="70" />
			<input type="submit" id="submit" value="Find Me!" />
		</form>
	</div>
	<div id="map_canvas" style="width:100%; height:100%"></div>
</body>
</html>
