@(title: String)(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
    <header>
        <div id='logo'>creditunionﬁndr</div>
        <div id='menu_bar'>
            <ul>
                <li>home</li>
                <li>about</li>
                <li>blog</li>
            </ul>
        </div>

    </header>
    @content
    </body>
</html>
